/* phone  */
@media only screen and (min-width: 322px) and (max-width:426px){
    .head{
        flex-wrap: wrap;
        display: flex;
        font-size: 80%;
        align-items: center;
        justify-content: center;
    }
    .container{
        height: 40vh;
        display: grid;
        margin-top: 60px;
    }
    .game{
        height: 60vmin;
        width: 100vmin;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        

    }
   .box{
     height: 15vh;
     width: 25%;
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     font-size: 5.5rem;

   }
   

   .footer{
    margin-top: 130px;
    
   }
}


@media only screen and (min-width: 250px) and  (max-width:321px){
    .head{
        flex-wrap: wrap;
        display: flex;
        font-size: 80%;
        align-items: center;
        justify-content: center;
        overflow:hidden;
    }
    .container{
        height: vh;
        width: 100%;
        display: grid;
        max-width: fit-content;
        flex-shrink: 1;
    }
    .game{
        height: 80vmin;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        

    }
   .box{
     height: 12vh;
     width: 12vh;
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     font-size: 5.5rem;
     gap: 10%;
     grid-template-columns: auto;
   }
   

   .footer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   }
}
